.red-box {
	width: 300px;
	height: 142px;
	background-color: #ff4d5b;
}

.product_heading {
	margin-left: 20px;
}

.product_title {
	position: relative;
	font-weight: 500;
	font-size: 20px;
	top: -50px;
	left: -20px;
}

.product_img {
	width: 250px;
	height: 200px;
	border: 1px solid black;
}

.product_description {
	padding: 0 0 0 80px;
	margin-bottom: 20px;
}

.product_box {
	position: relative;
	left: -15px;
	width: 85vw;
}

.product_dark_text {
	width: 600px;
	font-weight: 100;
}

.product_link {
	color: #ff4d5b;
}

.product_link:hover {
	color: blue;
}

.product_svg {
	width: 25px;
	height: 25px;
	background-color: #ff4d5b;
	border-radius: 20px;
	padding: 8px;
	margin-right: 8px;
	color: #fff;
}

.product_svg svg {
	filter: invert(100%);
}

.section_heading {
	display: flex;
	justify-content: space-between;
}

.left {
	width: 38%;
	margin: 150px 150px 150px 130px;
}
.right {
	margin: 100px;
	flex-wrap: wrap;
}

.full_container {
	margin: 0 120px;
}
.service-box {
	width: 208px;
	height: 128px;
	border: 3px solid #ff4d5b;
}

.title_container .title {
	font-size: 22px;
	font-weight: 400;
	position: relative;
	left: -7px;
	margin-top: 50px;
}

.service_container .description {
	position: relative;
	top: -45px;
	margin-left: 225px;
	width: 360px;
}

.top-footer {
	margin: 100px auto;
	width: 100%;
	height: 200px;
	background-color: rgba(24, 24, 24, 0.05);
}
.top-footer__inner {
	position: relative;
	margin: 0 auto;
	width: 65%;
	height: 300px;
	background-color: #ff4d5b;
	text-align: center;
	top: -50px;
}

.footer-text {
	width: 60%;
}

.bottom-footer {
	margin: 10px;
	border: 1px solid black;
	width: 100%;
}

.bottom-footer__inner {
	margin-left: 100px;
}

.detail {
	margin-right: 30px;
}

.footer_box {
	border-color: #ff4d5b;
	margin-right: 150px;
	height: 50px;
	border-width: 0 0 2px 2px;
	margin-top: 50px;
	margin-bottom: 100px;
}

@media screen and (max-width: 1024px) {
	.section_title {
		margin-left: 20px;
	}
	.red-box {
		width: 134px;
		height: 60px;
	}

	.product_title {
		position: relative;
		font-size: 16px;
		font-weight: 500;
		top: -15px;
		left: -20px;
	}
	hr {
		margin-bottom: 20px;
		margin-left: 20px;
		width: 90%;
	}
	.product_box {
		overflow: hidden;
		width: 97vw;
		left: 0;
	}

	.product_img {
		position: relative;
		width: 90%;
		height: 150px;
	}

	.product_description {
		width: 97vw;
		margin: 0 20px;
		padding: 0;
		margin-bottom: 20px;
	}
	.product_dark_text {
		font-size: 13px;
		width: 90vw;
		margin-bottom: 20px;
		line-height: 16px;
	}

	.product_description_text {
		font-size: 11px;
		width: 100vw;
	}
	.product_specs {
		font-size: 10px;
	}

	.data_sheet_link_container {
		margin-bottom: 50px;
	}

	.section_heading {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
	}

	.left {
		width: 85%;
		margin: 5px 5px 20px 25px;
	}
	.right {
		margin: 50px 0 0 20px;
	}

	.full_container {
		margin: 10px 20px;
	}

	.service-box {
		width: 30%;
		height: 60px;
		border: 3px solid #ff4d5b;
	}

	.title_container .title {
		font-size: 18px;
		font-weight: 400;
		position: relative;
		left: -7px;
		margin-top: 20px;
	}

	.service_container .description {
		top: 0;
		margin: 30px 0px;
		width: auto;
	}

	.top-footer {
		margin: 100px auto;
		width: 100%;
		height: 100px;
		background-color: rgba(24, 24, 24, 0.05);
	}
	.top-footer__inner {
		position: relative;
		margin: 0 auto;
		width: 65%;
		height: 200px;
		background-color: #ff4d5b;
		text-align: center;
		top: -50px;
	}

	.bottom-footer {
		margin: 10px;
	}

	.footer-text {
		width: 50%;
	}

	.footer_box {
		margin-right: 30px;
	}
}
