html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

.menu ul {
	display: flex;
	gap: 30px;
}
/* Product Section Start */
.red-box {
	width: 300px;
	height: 142px;
	background-color: #ff4d5b;
}

.product_heading {
	margin-left: 20px;
}

.product_title {
	position: relative;
	font-weight: 500;
	font-size: 20px;
	top: -50px;
	left: -20px;
}

.product_img {
	width: 250px;
	height: 200px;
	border: 1px solid black;
}

.product_description {
	padding: 0 0 0 80px;
	margin-bottom: 20px;
}

.product_box {
	position: relative;
	left: -15px;
	width: 85vw;
}

.product_dark_text {
	width: 600px;
	font-weight: 100;
}

.product_link {
	color: #ff4d5b;
}

.product_image {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.desktop_background {
	top: 0;
	right: 0;
	margin-right: 80px;
	position: absolute;
	min-width: 800px;
	max-width: 880px;
	min-height: 95%;
	object-fit: contain;
}

.product_svg {
	width: 25px;
	height: 25px;
	background-color: #ff4d5b;
	border-radius: 20px;
	padding: 8px;
	margin-right: 8px;
	color: #fff;
}
/* Product Section END */

/* Services Section Start */
.section_heading {
	display: flex;
	justify-content: space-between;
}

.left {
	width: 38%;
	margin: 150px 150px 150px 130px;
}
.right {
	margin: 80px 80px 200px;
	flex-wrap: wrap;
}

.full_container {
	position: relative;
	left: -50px;
	margin: 0 0;
}
.service-box {
	width: 30%;
	height: 128px;
	border: 3px solid #ff4d5b;
}

.title_container .title {
	font-size: 22px;
	font-weight: 400;
	position: relative;
	left: -7px;
	margin-top: 50px;
}

.service_container .description {
	position: relative;
	top: -45px;
	margin-left: 160px;
	width: 290px;
}
.background-box {
	width: 0px;
	background-color: transparent;
}
/*Service  Section END*/

/* Footer Section Start */
/* top footer  */
.top-footer {
	margin: 100px auto;
	width: 100%;
	height: 200px;
	background-color: rgba(24, 24, 24, 0.05);
}
/* footer red div */
.top-footer__inner {
	position: relative;
	margin: 0 auto;
	width: 65%;
	height: 300px;
	background-color: #ff4d5b;
	text-align: center;
	top: -50px;
}

.footer-text {
	width: 60%;
}

/* bottom footer */
.bottom-footer {
	margin: 10px;
	width: 100%;
}

.bottom-footer__inner {
	margin-left: 100px;
}

.detail {
	margin-right: 30px;
}

.footer_box {
	border-color: #ff4d5b;
	margin-right: 150px;
	height: 50px;
	border-width: 0 0 2px 2px;
	margin-top: 50px;
	margin-bottom: 100px;
}

/* Footer End */

/* OverLay Start */

.overlay {
	display: hidden;
	color: white;
}

.active-overlay {
	background-color: #04b1a3;
	align-items: center;
	flex-direction: column;
	position: fixed;
	justify-content: space-around;
	top: 0;
	z-index: 9999;
	width: 100vw;
	height: 100vh;
	display: flex;
	opacity: 1;
	animation: slideInSide 0.8s ease-in-out;
}

@keyframes slideInSide {
	from {
		left: -800px;
	}
	to {
		left: 0;
	}
}

.overlay_header {
	background-color: #ff4d5b;
	display: flex;
	width: 100vw;
	align-items: center;
	justify-content: space-between;
	padding: 10px 40px;
}

.mobile-nav-menu ul {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.overlay_footer {
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: #ff4d5b;
	font-size: 30px;
}
/* Overlay End */

/* Media Query < Desktop */
@media screen and (max-width: 1024px) {
	.menu {
		display: hidden !important;
	}

	/* Products Section */
	.section_title {
		margin-left: 20px;
	}
	.red-box {
		width: 134px;
		height: 60px;
	}

	.product_title {
		position: relative;
		font-size: 16px;
		font-weight: 500;
		top: -15px;
		left: -20px;
	}
	hr {
		margin-bottom: 20px;
		margin-left: 20px;
		width: 90%;
	}
	.product_box {
		overflow: hidden;
		width: 97vw;
		left: 0;
	}

	.product_img {
		position: relative;
		width: 90%;
		height: 150px;
	}

	.product_description {
		width: 97vw;
		margin: 0 20px;
		padding: 0;
		margin-bottom: 20px;
	}
	.product_dark_text {
		font-size: 13px;
		width: 90vw;
		margin-bottom: 20px;
		line-height: 16px;
	}

	.product_description_text {
		font-size: 11px;
		width: 100vw;
	}
	.product_specs {
		font-size: 10px;
	}

	.data_sheet_link_container {
		margin-bottom: 50px;
	}

	/*Product Section End */

	/* Service Section Start */
	.section_heading {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
	}

	.left {
		width: 85%;
		margin: 5px 5px 20px 25px;
	}
	.right {
		margin: 50px 0 0 20px;
	}

	.full_container {
		margin: 10px 20px;
		left: 0px;
	}

	.service-box {
		width: 150px;
		height: 60px;
		border: 3px solid #ff4d5b;
	}

	.title_container .title {
		font-size: 18px;
		font-weight: 400;
		position: relative;
		left: -7px;
		margin-top: 20px;
	}

	.service_container .description {
		top: 0;
		margin: 30px 0px;
		width: auto;
	}
	/* service Sectuion End */
	/* Footer Section*/
	.top-footer {
		margin: 100px auto;
		width: 100%;
		height: 100px;
	}
	.top-footer__inner {
		position: relative;
		margin: 0 auto;
		width: 65%;
		height: 200px;
		background-color: #ff4d5b;
		text-align: center;
		top: -50px;
	}

	.bottom-footer {
		margin: 10px;
	}

	.footer-text {
		width: 50%;
	}

	.footer_box {
		margin-right: 30px;
	}
}
